<br/><br/>

<div class="jumbotron">
  <h1 class="display-4"><%= @user.username %></h1>
  <hr class="my-4">
  <p> <%= @user.email %> | <% @user.password %>
  <br/><br/>
    <%= link_to 'Edit', edit_user_path(@user),class:"btn btn-success" %> 
    <%= link_to 'Back', users_path,class:"btn btn-success" %>
</div>
